## Módulo 4 - Cadenas

Inmutabilidad de las cadenas
Las operaciones en cadenas siempre producen nuevas cadenas

In [9]:
fact = "The moon has no atmosphere. "
fact + "No sound can be heard on the Moon"

'The moon has no atmosphere. No sound can be heard on the Moon'

In [10]:
fact

'The moon has no atmosphere. '

In [11]:
two_facts = fact + "No sound can be heard on the Moon"
two_facts

'The moon has no atmosphere. No sound can be heard on the Moon'

Uso de comillas

In [17]:
# Se puede utilizar comillas dobles, simples o triples indistintamente.
# Importante tomar en cuenta: "Cuando una cadena coniene palabras, números o caracteres especiales (una subcadena) que también usa comillas, estás deben der de un estilo diferente para que el interprete de python no lo considere error"

#EJEMPLO 1
ejemplo_1 = 'The "near side" is the part of the Moon that faces the Earth'

#EJEMPLO 2
ejemplo_2 = "We only see about 60% of the Moon's surface"

# Cuando se utilizan ya dos tipos de comillas, puedes utilizar comillas triples

#EJEMPLO 3
ejemplo_3 = """We only see about 60% of the Moon's surface, this is known as the "near side" """

print(ejemplo_1)
print(ejemplo_2)
print(ejemplo_3)

The "near side" is the part of the Moon that faces the Earth
We only see about 60% of the Moon's surface
We only see about 60% of the Moon's surface, this is known as the "near side"

Texto multilínea

In [18]:
# Usando \n
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [22]:
 # Usando comillas triples """
 multiline = """Facts about the Moon:
      There is no atmosphere.
      There is no sound."""
print(multiline)

Facts about the Moon:
     There is no atmosphere.
     There is no sound.

Métodos string en Python

In [23]:
# método .title()

#Ejemplo 1
"temperatura y hechos sobre la luna".title()

'Temperatura Y Hechos Sobre La Luna'

In [24]:
# método .title()

#Ejemplo 2
heading = "temperatura y hechos sobre la luna".title()
print(heading)

Temperatura Y Hechos Sobre La Luna

Dividir una cadena

In [27]:
#Usando .split()
temperatures = '''Daylight: 260 F
Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [29]:
#Usando .split()
temperatures = '''Daylight: 260 F
Nighttime: -280 F'''
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

## Buscar una cadena

In [30]:
#Descubriendo si existe una palabra en específico, un carácter o grupo de caracteres en una cadena SIN usar un método.

"Moon" in "This text will describe facts and challenges with space travel"

False

In [31]:
#Descubriendo si existe una palabra en específico, un carácter o grupo de caracteres en una cadena SIN usar un método.

"Moon" in "This text will describe facts about the Moon"

True

Forma 1 de encontrar contenido: Para encontrar la posición de una palabra específica en una cadena usar el método .find():

In [33]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
while Mars has -28 Celsius."""
temperatures.find("Moon")

#El método find devuelve '-1' cuando no encuentra la palabra
#Si el método find encuentra la palabra devuelve el lugar en la cadena en número

-1

In [34]:
#Imaginando que buscamos Mars en lugar de Moon

temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
while Mars has -28 Celsius."""
temperatures.find("Mars")

64

Forma 2 de encontrar contenido: Si quieres saber el número de veces que aparece una palabra determinada en una cadena utiliza .count()

In [35]:
temperatures.count("Mars")

1

In [37]:
temperatures.count("Moon")

0

Mayúsculas y minúsculas

In [38]:
#Convirtiendo a minúsculas

"The Moon And The Earth".lower()

'the moon and the earth'

In [39]:
#Convirtiendo a mayúsculas

"The Moon and The Earth".upper()

'THE MOON AND THE EARTH'

Comprobar el contenido

In [40]:
# Párrafo estructurado
# Extraer información con .split()
# Extraeremos la temperatura promedio en Marte

temperature = "Mars average temperature: -60 °C"
extrayendo_temperatura = temperature.split(":")
extrayendo_temperatura

['Mars average temperature', ' -60 °C']

In [41]:
#Pidiendo que nos devuelva el último elemento de la lista
extrayendo_temperatura[-1]

' -60 °C'

In [42]:
# Párrafo irregular
# Iteraremos todos los elementos y comprobaremos si los valores son de tipo numérico
# Usaremos el método .isnumeric()

mars_temperature = "The highest temperature on Mars is about 30 °C"
for item in mars_temperature.split():
   if item.isnumeric():
      print(item)

#Si quieres iterar todos los elementos y comprobar si los valores son decimales, ,utiliza el método .isdecimal()

30

In [1]:
# Identificar números negativos
# .isnumeric() no funcionará si queremos identificar número negativos, ya que el método identifica al '-' antes del número como no númerico. 
# Lo que podemos hacer es utilizar el método .startswith(), como el guión esta fijado al número negativo, el número negativo siempre comenzara con '-'

"-60".startswith("-")

True

In [2]:
# Verificar el último carácter de una cadena
# Utilizamos el método .endswith()

if "30 °C".endswith("C"):
   print("This temperature is in Celsius")

This temperature is in Celsius

Transformar texto

In [3]:
# Usando el método .replace()
# Para buscar y reemplazar apariciones de un carácter o grupo de caracteres

"Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.".replace("Celsius", "C")

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

In [5]:
"Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 degrees Celsius.".replace("degrees Celsius", "°C")

'Saturn has a daytime temperature of -170 °C, while Mars has -28 °C.'

In [6]:
# Usando el método .lower()
text = "Temperatures on the Moon can vary wildly"
"temperatures" in text

False

In [7]:
# Usando el método .lower()
"temperatures" in text.lower()

True

In [6]:
# Usando el método .join() para unir caracteres
# Nota: El método .join() requiere un iterable (como una lista de Python) como argumento, por lo que su uso se ve diferente de otros métodos de cadena

moon_facts = ['The Moon is drifting away from the Earth.', ' On average, the Moon is moving about 4cm every year']
"\n".join(moon_facts)
# El salto de línea \n en este caso se utiliza para unir todos los elementos de la lista

'The Moon is drifting away from the Earth.\n On average, the Moon is moving about 4cm every year'

Formato de cadenas de Python

In [7]:
# Formato con signo de porcentaje (%)
# Marcador de posición: %s - La variable se pasa al texto añadiendo % variable, fuera de la cadena

mass_percentage = "1/6"
print ("On the Moon, you would weight about %s of your weight on Earth" % mass_percentage)

On the Moon, you would weight about 1/6 of your weight on Earth

In [9]:
# El uso de múltiples valores cambia la sintaxis, ya que requiere paréntesis para rodear las variables que se pasan.
print("""Both sides of the %s get the same amount of sunlight,
but only one side is seen from %s because
the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

#No es conveniente usar este método cuando se trata de múltiples variables. Se recomienda usar en su lugar el método .format()

Both sides of the Moon get the same amount of sunlight,
but only one side is seen from Earth because
the Moon rotates around its own axis when it orbits Earth.

In [10]:
# Método format
# Este método utiliza llaves ({}) como marcadores de posición dentro de una cadena y utiliza la asignación de variables para reemplazar el texto.

mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

In [11]:
# Método format
# Este método utiliza llaves ({}) como marcadores de posición dentro de una cadena y utiliza la asignación de variables para reemplazar el texto.
# No es necesario asignar variables repetidas varias veces

print("""You are lighter on the {0}, because on the {0} 
you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

In [12]:
# Método format
# Para mejorar la legibilidad utilizamos palabras de argumento y hacemos referencia a ellas dentro de las llaves

print("""You are lighter on the {moon}, because on the {moon} 
you would weigh about {mass} of your weight on Earth""".format(moon="Moon", mass=mass_percentage))

You are lighter on the Moon, because on the Moon
you would weigh about 1/6 of your weight on Earth

Cadenas con f

In [14]:
# Usando el prefijo f
# Las variables van dentro de las llaves y la cadena debe usar el prefijo f
# En estos casos las cadenas son menos detalladas, y es posible usar expresiones (funciones u operaciones directas) dentro de las llaves.
  
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')

On the Moon, you would weigh about 1/6 of your weight on Earth

In [15]:
# Para representar un valor como porcentaje, utilizar rl método .round()

round(100/6, 1)

16.7

In [16]:
# Usando el prefijo f y el método .roun()

print(f'On the Moon, you would weigh about {round(100/6, 1)}% of your weight on Earth')

On the Moon, you would weigh about 16.7% of your weight on Earth

In [17]:
# Nota: El uso de una expresión, no requiere una llamada a una función.
# Por ejemplo: Una cadena podría imponer un estilo de escritura específico para crear un título.

subject = 'interesting facts about the moon'
f'{subject.title()}'

'Interesting Facts About The Moon'